<html>
    <body>
        <canvas id="test" width="100%"></canvas>
        <script type="text/javascript" src="/dist/bitf.bundle.js"></script>
        <style rel="stylesheet" type="text/css">
        body {
            background: #111;
            margin: 0;
        }
        </style>
    </body>
</html>
