<html>
    <head>
        <meta name="viewport" content="width=device-width, minimal-ui, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="BiTF Controller">
    </head>
    <body>
        <canvas id="test" width="100%"></canvas>
        <script type="text/javascript" src="static/socket.io.js"></script>
        <script type="text/javascript" src="dist/controller.bundle.js"></script>

        <style rel="stylesheet" type="text/css">
        body {
            background: #111;
            margin: 0;
        }
        </style>
    </body>
</html>

