<!DOCTYPE html>
<html>
	<head>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
        <script type="text/javascript">
            window.key = '<%= key %>';
            window.cluster = '<%= cluster %>';
        </script>
	</head>
	<body>
        <script type="text/javascript" src="/threejs/build/three.js"></script>
        <script type="text/javascript" src="/threejs/examples/js/vr/WebVR.js"></script>
        <script type="text/javascript" src="/threejs/examples/js/controls/TrackballControls.js"></script>
        <script type="text/javascript" src="/threejs/examples/js/geometries/BoxLineGeometry.js"></script>
        <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
        <script type="text/javascript" src="/dist/viewer.bundle.js"></script>
	</body>
</html>
